<div class="container">
  <h3 mat-dialog-title>Add new Book</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Book Title" [(ngModel)]="book.bookTitle" name="bookTitle" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Language" [(ngModel)]="book.language" name="language" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
    <mat-form-field>
      <mat-select placeholder="Choose Category" [(ngModel)]="book.category" name="category">
        <mat-option *ngFor="let ct of category" [value]="ct.id">
          {{ ct.catgName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Year" [(ngModel)]="book.publicationYear" name="publicationYear">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>